<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="resources">
    <a href="https://www.npmjs.com/package/@sedeh/drag-enabled">npm install &64;sedeh/drag-enabled</a>
    <p>Tested On Safari, Chrome, Mozilla, and IE11 browsers.</p>
</div>
<p>Start dragging table headers</p>
<table>
    <thead>
        <tr>
            <th *ngFor="let h of tableData.headers"
				scope="col"
				[dragEnabled]="dragEnabled.bind(this)"
				[dropEnabled]="dropEnabled.bind(this)"
				[medium]="h"
				(onDragStart)="onDragStart($event)"
				(onDragEnd)="onDragEnd($event)"
				(onDrop)="onDrop($event)">
				{{h.title}}
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let row of tableData.rows">
			<td *ngFor="let h of tableData.headers">{{ getRowContent(row, h.key) }}</td>
		</tr>
	</tbody>
</table>
