@import './drag-enabled/drag.scss';
table {
    width: 200px;
    border: 1px solid gray;
    margin:  0 auto;
    th {
        text-align: left;
        border: 1px solid gray;
        &.drag-over {
           background-color: #9b9b9b;
   
           .title, .icon {
               color: #eee;
           }
       }
    }
}
.floater {
    position: absolute;
    border: 1px solid;
    padding: 2px;
    top: 260px;
    left: calc(100vw/2 - 120px)
}
p {
    margin: 20px auto 30px auto;
    width: fit-content;
}
.sidebyside {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    flex-direction: column;
}
.pick-points {
    margin: 16px auto 8px auto;
    border: 2px groove rgba(0, 0, 0, 0.1);
    display: contents;
    width: 48%;
    .pick-points {
        display: inline-block;
    }
}
.resources {
    text-align: center;
    margin-bottom: 20px;
    color: #551234;
    font-weight: bold;
  }