<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<table>
    <thead>
        <tr>
            <th scope="col"
				[dragEnabled]="dragEnabled.bind(this)"
				[dropEnabled]="dropEnabled.bind(this)"
				[medium]="header1"
				(onDragStart)="onDragStart($event)"
				(onDragEnd)="onDragEnd($event)"
				(onDrop)="onDrop($event)">h1</th>
            <th scope="col"
				[dragEnabled]="dragEnabled.bind(this)"
				[dropEnabled]="dropEnabled.bind(this)"
				[medium]="header2"
				(onDragStart)="onDragStart($event)"
				(onDragEnd)="onDragEnd($event)"
				(onDrop)="onDrop($event)">h1</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>x</td>
			<td>y</td>
		</tr>
	</tbody>
</table>
